doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(content='Numie is an in-house design & marketing studio that brings transparency across all platforms.', name='description')
    meta(content='width=device-width', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='yes', name='apple-touch-fullscreen')

    link(rel='icon', href='/favicon.png', type='image/x-icon')

    link(rel='apple-touch-icon', sizes='57x57', href='assets/images/meta/icons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='assets/images/meta/icons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='assets/images/meta/icons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='assets/images/meta/icons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='assets/images/meta/icons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='assets/images/meta/icons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='assets/images/meta/icons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='assets/images/meta/icons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='assets/images/meta/icons/apple-icon-180x180.png')

    link(rel='icon', type='image/png', sizes='192x192', href='assets/images/meta/icons/android-icon-192x192.png')

    link(rel='icon', type='image/png', sizes='32x32', href='assets/images/meta/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='assets/images/meta/icons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='assets/images/meta/icons/favicon-16x16.png')

    link(rel='manifest', href='assets/images/meta/icons/manifest.json')

    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='assets/images/meta/icons/ms-icon-144x144.png')

    // Google content
    meta(content='Numie is an in-house design & marketing studio that brings transparency across all platforms.', name='description')
    meta(content='Numie, agency, web, design, development, logo, icons, code, studio, marketing, seo, graphics, social, media, internet, solutions', name='keywords')
    meta(content='Numie', name='author')
    meta(content='Numie 2016', name='copyright')
    meta(content='Numie', name='application-name')

    // Facebook content
    meta(content='Numie - Design & Marketing Studio', property='og:title')
    meta(content='website', property='og:type')
    meta(content='assets/images/meta/share/Numie_Facebook.png', property='og:image')
    meta(content='https://numie.co', property='og:url')
    meta(content='Numie is an in-house design & marketing studio that brings transparency across all platforms.', property='og:description')

    // Twitter content
    meta(content='summary', name='twitter:card')
    meta(content='Numie - Design & Marketing Studio', name='twitter:title')
    meta(content='Numie is an in-house design & marketing studio that brings transparency across all platforms.', name='twitter:description')
    meta(content='assets/images/meta/share/Numie_Twitter.png', name='twitter:image')


    title Numie &mdash; Digital Studio

    link(rel='stylesheet', type='text/css', href='assets/styles/style.css')
    // if IE
        script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    script.
        document.documentElement.className = 'js';
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ocanvas/2.8.1/ocanvas.min.js')

  body
    block content

    script(async src='https://pepper.swat.io/embed.js?eyJwb3NpdGlvbiI6ImxlZnQiLCJjb2xvciI6ImRmMzg0YSIsImN1c3RvbUNvbG9yIjp0cnVlLCJpY29uIjoiZ2xvYmUiLCJwcm9ub3VuIjoidXMiLCJsYW5ndWFnZSI6ImVuIiwiYnJhbmRlZCI6ZmFsc2UsImludHJvVGV4dCI6Ik5lZWQgaGVscCBvbiBhIHByb2plY3Q/IENvbnRhY3QgdXMgYW55IHdheSB5b3UgY2hvb3NlISBHaXZlIHVzIGEgZm9sbG93IHRvbyEgIiwiY2hhbm5lbHMiOltbImZhY2Vib29rIiwibnVtaWVjbyIsInNvY2lhbCJdLFsidHdpdHRlciIsIm51bWllY28iLCJzb2NpYWwiXSxbIm1lc3NlbmdlciIsIm51bWllY28iLCJzb2NpYWwiXSxbImluc3RhZ3JhbSIsIm51bWllY28iLCJzb2NpYWwiXSxbInBob25lIiwiKDkyOSkgMzc2LTg2NDMiLCJjbGFzc2ljIl0sWyJlbWFpbCIsImhlbGxvQG51bWllLmNvIiwiY2xhc3NpYyJdXX0=')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89242424-1', 'auto');
      ga('send', 'pageview');
